<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <title>$title</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="$fonts" rel="stylesheet">
  <link rel="stylesheet" href="$css">
</head>
<body$body_class>
  <header class="site-header">
    <a class="mark" href="$home">InferHub Watch</a>
    $page_nav
    $header_meta
  </header>
  <main>
    $crumb
    $body
  </main>
  $footer
  $script
  </body>

</html>